<html>
  <head>
    <title>Contact Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/custom.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Contact form <a href="http://iszumi.com">iszumi.com</a></h1>
            <p class="lead">This is a demo about blasting email using Mailgun, Kue, Cron and Redis.</p>
            <form id="contact-form" method="post" action="" role="form">
              <div class="messages"></div>
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_from">From *</label>
                      <input id="form_from" type="email" name="from" class="form-control" placeholder="Please enter your email *" required="required" data-error="Your email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_to">To *</label>
                      <input id="form_to" type="email" name="to" class="form-control" placeholder="Please enter email address recepient *" required="required" data-error="Recepient email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_subject">Subject *</label>
                      <input id="form_subject" type="text" name="email" class="form-control" placeholder="Please enter your subject *" required="required" data-error="Subject is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message for recepient *" rows="4" required="required" data-error="Write your message."></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> These fields are required. Contact form template by <a href="http://bootstrapious.com" target="_blank">Bootstrapious</a>.</p>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="validator.js"></script>
    <script src="contact.js"></script>
  </body>
</html>
